@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Qwitcher+Grypen:wght@400;700&family=Yellowtail&display=swap");
@import "../variable/style.css";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.forget-password {
  position: relative;
  z-index: 11;
}

.bg-defualt {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/icons/chicken.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(5px);
}
.logo-form {
  position: relative;
  top: 0%;
  z-index: 10;
}
.forget-password .logo {
  display: flex;
  /* z-index: 20; */
  flex-direction: row;
  align-items: center;
  padding: 30px 10%;
  /* font-family: 'Qwitcher Grypen', cursive; */
  font-family: "Cookie", cursive;
  font-size: 64px;
}

.forget-password .logo-chef {
  /* z-index: 20; */
  width: 70px;
  height: 70px;
}

.forget-password .form-icon {
  margin-top: 35px;
  display: grid;
  padding: 0px 10%;
  grid-template-columns: 6fr;
  align-items: center;
  display: flex;
  justify-content: center;
}

.forget-password .img {
  width: 85%;
}

.forget-password form {
  width: 50%;
  grid-area: 1fr;
  /* border: 2px solid var(--light-main); */
  /* background-color: var(--dark-second); */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  /* align-items: center; */
}

.forget-password h1 {
  margin-top: 10px;
  font-size: 48px;
  text-align: center;
}

.forget-password .welcome {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.forget-password label {
  margin-top: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.forget-password input {
  outline: none;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 6px;
}

.password-eye {
  position: relative;
}
.forget-password form .error {
  margin-top: 0px;
  color: red;
}

.forget-password .forget {
  text-align: end;
  color: blue;
  margin-top: 15px;
}

.btneye {
  outline: none !important;
  border: none !important;
  background-color: transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  right: 10%;
}

.forget-password .button {
  cursor: pointer;
  padding: 20px;
  margin-top: 15px;
  background-color: green;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
}

.copy-right {
  padding: 30px;
  margin-top: 130px;
  text-align: center;
}

.forget-password .link {
  margin-top: 10px;
  text-decoration: none;
  color: blue;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .forget-password .logo {
    padding: 5%;
  }
  .forget-password .form-icon {
    padding: 0px 5%;
  }
  .forget-password .form-icon {
    grid-template-columns: 12fr;
  }

  .forget-password form {
    width: 95%;
  }

  .forget-password h1 {
    font-size: 36px;
  }

  .forget-password .welcome {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .forget-password .logo {
    padding: 30px 5%;
  }
  .forget-password .form-icon {
    padding: 0px 2%;
  }
  .forget-password .form-icon {
    grid-template-columns: 12fr;
  }

  .forget-password form {
    width: 640px;
  }

  .forget-password h1 {
    font-size: 36px;
  }

  .forget-password .welcome {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .forget-password form {
    width: 640px;
  }
  .forget-password h1 {
    font-size: 36px;
  }

  .forget-password .welcome {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .forget-password form {
    width: 640px;
  }
}
