@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Qwitcher+Grypen:wght@400;700&family=Yellowtail&display=swap");
@import "../variable/style.css";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.sign-in {
  position: relative;
  z-index: 11;
}

.sign-in .bg-defualt {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/chicken.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(5px);
}

.sign-in .logo-form {
  position: relative;
  top: 0%;
  z-index: 10;
}

.sign-in .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 10%;
  font-family: "Cookie", cursive;
  font-size: 64px;
}

.sign-in .logo-chef {
  /* z-index: 20; */
  width: 70px;
  height: 70px;
}

.sign-in .form-icon {
  margin-top: 35px;
  display: grid;
  padding: 0px 10%;
  grid-template-columns: 6fr;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sign-in .img {
  width: 85%;
}

.sign-in form {
  width: 50%;
  grid-area: 1fr;
  color: var(--main-color);
  background-color: var(--blur);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}

.sign-in p {
  margin-top: 10px;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.sign-in .welcome {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.sign-in label {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
}

.sign-in input {
  outline: none;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 6px;
}

.sign-in .password-eye {
  position: relative;
}

.sign-in form .error {
  margin-top: 0px;
  color: red;
  font-size: 14px;
}

.sign-in .check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sign-in .check input {
  width: fit-content;
  margin: 0px 0px 0px 0px;
}

.sign-in .check label {
  margin: 0;
  margin: 0 5px 0px 5px;
}

.sign-in .forget {
  text-align: end;
  color: blue;
  margin-top: 15px;
}

.sign-in .btneye {
  outline: none !important;
  border: none !important;
  background-color: transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  right: 10%;
}

.sign-in .button {
  cursor: pointer;
  padding: 20px;
  margin-top: 15px;
  background-color: green;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
}

.sign-in .copy-right {
  padding: 30px;
  margin-top: 130px;
  text-align: center;
}

.sign-in .link {
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

@media screen and (max-width: 768px) {
  .sign-in .logo {
    padding: 5%;
  }

  .sign-in .form-icon {
    padding: 0px 5%;
  }

  .sign-in .form-icon {
    grid-template-columns: 12fr;
  }

  .sign-in form {
    width: 95%;
  }

  .sign-in h1 {
    font-size: 36px;
  }

  .sign-in .welcome {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sign-in .logo {
    padding: 30px 5%;
  }
  .sign-in .form-icon {
    padding: 0px 2%;
  }
  .sign-in .form-icon {
    grid-template-columns: 12fr;
  }

  .sign-in form {
    width: 640px;
  }

  .sign-in h1 {
    font-size: 36px;
  }

  .sign-in .welcome {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sign-in form {
    width: 640px;
  }
  .sign-in h1 {
    font-size: 36px;
  }

  .sign-in .welcome {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .sign-in form {
    width: 640px;
  }
}

[dir="rtl"] .sign-in .btneye{
  right: auto;
  left: 10%;
}